#
# Intance Mode
#
#   This SD writing utility and the installation script follow three-tier model
#   DEV, UAT and PRD (development, user acceptance testing, production).
#   Each of these modes may have their own special settings that the installer
#   script needs to implement.
#
#   Installer script is made aware of the instance mode by creating
#   '/etc/patemon.config' file into the written target image with the mode
#   stored.
#
[Mode]

    # Specify the default mode for written SD image. This can always be
    # overridden with a command line option.
    # Options:
    #       DEV | UAT | PRD
    #
    default = DEV

#
# Dynamic DNS Client
#
#   DHCP at utu.fi provides dynamic IP addresses for "non-listed" machines and
#   raspberry pi used to develop Pate Monitor solution definitely falls into
#   this category - and it is a problem for headless unit.
#
#   Rasbian writing utility 'writesd.py' is equipped to enable DDNS client in
#   the created SD, but it needs the account credentials to be able to update
#   the IP. You need to create DynuDNS account with a name and update username
#   and password below. This enables the DDNS client to update the IP on every
#   boot and keep on doing that hourly while running.
#
[DDNS]

    # List of modes in which the DDNS client is enabled by default.
    # Leave empty if you do now wish DDNS to be enabled by default in any mode.
    # 
    enabled modes = DEV, UAT, a,,,,aas,ad,,asd, DEV, dev

    # The username and password for the DynuDNS account.
    #
    username =
    password =

